*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
}


.signup-div.hidden{
    display: none;
}

.profile-info-div.hidden{
    display: none;
}

.register-div > *{
    margin-bottom: 10px;
}

.login-div > *{
    margin-bottom: 10px;
}