:root {
    --main-font-color: #ca3f64;
    --page-covered-status-color: #14AE5C;
    --page-not-covered-status-color: var(--main-font-color);
    --request-sent: #969492;
}

body{
    width:400px;
    height:400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.popup-logo{
    width: 64px;
    height: 64px;
}
.title-div{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;;
}

.title-div > *{
    margin-right: 5px;
}

.title-div .title-div-1{
    color: var(--main-font-color);
    font-size: 1.6em;
    font-weight: bold;
}

.title-div .title-div-2{
    font-size: 1.6em;
    color:#A79197;
}

.options-btn{
    width: 1.5em;
    height: 1.5em;
    margin-left: auto;
    transform: translateY(-5px);
    cursor: pointer;
}



.page_status-div{
    text-align: center;
    margin-top: auto;
    font-weight: 500;
    padding: 3px;
    border-top: 1px solid rgb(182, 182, 182);
    padding-top: 5px;
}

.page_status-div.covered{
    color: var(--page-covered-status-color)
}

.page_status-div.not-covered{
    color: white;
    background-color: var(--page-not-covered-status-color);
    border-radius: 9999px;
    cursor: pointer;
    transition: all .2s;
}

.page_status-div.not-covered:hover{
    color: var(--page-not-covered-status-color);
    background-color: white;
    border: 2px solid var(--page-not-covered-status-color);
}

.page_status-div.request-sent{
    color: var(--request-sent);
}

.user-info-div{
    color: var(--main-font-color);
    margin-bottom: 5px;
    display: flex;
}

.user-info-div.hidden{
    display: none;
}

.user-info-div .role-and-username-div{
    border-top: 1px solid rgb(182, 182, 182);
    padding-top: 5px;
}

.user-info-div .username-div{
    font-weight: bold;
}

.user-info-div .first-letter-div{
    height: 100%;
    aspect-ratio:1/1;
    background-color: var(--main-font-color);
    border-radius: 50%;
    margin-right: 10px;
    color:white;
    text-align: center;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-weight: 500;
}

.requested-site{
    display: flex;
    align-items: center;
}

.requested-site .site{ 
    color:rgb(162, 162, 162)
}

.requested-site .num-of-requests{
    background-color: rgb(162, 162, 162);
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}