:root {
    --main-font-color: #ca3f64;
    --page-covered-status-color: #14AE5C;
    --page-not-covered-status-color: var(--main-font-color);
    --request-sent: #969492;
}

body{
    width:400px;
    height:400px;
    max-height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.popup-logo{
    width: 64px;
    height: 64px;
}
.title-div{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;;
}

.title-div > svg{
    margin-right: 30px;
}

.title-div > *{
    margin-right: 5px;
}

.options-btn{
    width: 1.5em;
    height: 1.5em;
    margin-left: auto;
    cursor: pointer;
}



.page_status-div{
    text-align: center;
    margin-top: auto;
    font-weight: 500;
    padding: 3px;
    border-top: 1px solid rgb(182, 182, 182);
    padding-top: 5px;
}

.page_status-div.covered{
    color: var(--page-covered-status-color)
}

.page_status-div.not-covered, .page_status-div .not-covered{
    color: white;
    background-color: var(--page-not-covered-status-color);
    border-radius: 9999px;
    cursor: pointer;
    border: 2px solid var(--page-not-covered-status-color);
    transition: all .2s;
}

.page_status-div.not-covered:hover, .page_status-div .not-covered:hover{
    color: var(--page-not-covered-status-color);
    background-color: white;
    
}

.page_status-div.request-sent{
    color: var(--request-sent);
}

.user-info-div{
    color: var(--main-font-color);
    margin-bottom: 5px;
    display: flex;
}

.user-info-div.hidden{
    display: none;
}

.user-info-div .role-and-username-div{
    padding-top: 5px;
}

.user-info-div .username-div{
    font-weight: bold;
}

.user-info-div .first-letter-div{
    height: 100%;
    aspect-ratio:1/1;
    background-color: var(--main-font-color);
    border-radius: 50%;
    margin-right: 10px;
    color:white;
    text-align: center;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-weight: 500;
}

.sites-container{
    height: 65%;
    overflow: auto;
}

.requested-site{
    display: flex;
    align-items: center;
}

.requested-site .site{ 
    color:rgb(162, 162, 162)
}

.requested-site .num-of-requests{
    background-color: rgb(162, 162, 162);
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    aspect-ratio: 1/1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.improvementsAndReportContainer{
    display: flex;
    justify-content: space-between;
}

.improvementsAndReportContainer > div{
    flex: 1;
    margin: 0.2rem 0.4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog{
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
}

dialog.hidden{
    display: none;
}

dialog#reportDialog .buttons{
    display: flex;
    margin-top: auto;
}

dialog#reportDialog .buttons > div{
    padding: 5px 10px;
    margin: 10px;
    justify-content: space-evenly;
    color: white;
    background-color: var(--main-font-color);
    border: 1px solid var(--main-font-color);
    cursor: pointer;
    transition: 0.2s all;
}

dialog#reportDialog .buttons > div:hover{
    background-color: white;
    color: var(--main-font-color);
}
/* ////////////////////////////////// */

dialog#rankListDialog{
    padding: 0;
    padding-bottom: 4rem;
}

dialog#rankListDialog .title{
    font-size: 1.8rem;
    color: #A79197;
    padding:0 1rem;
}

dialog#rankListDialog p.description{
    font-size: 1.2rem;
    color: var(--request-sent);
    padding:0 1rem;
}

dialog#rankListDialog div.volunteers-container{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
}

dialog#rankListDialog div.volunteers-container .volunteer:nth-child(even){
    background-color: rgb(239, 238, 238);
}

dialog#rankListDialog div.volunteers-container .volunteer{
    display: flex;
    padding: 0.2rem 0.5rem;
}

dialog#rankListDialog div.volunteers-container .volunteer .index{
    margin-right: 1rem;
}

dialog#rankListDialog div.volunteers-container .volunteer .username{
    flex: 1;
}

dialog#rankListDialog div.volunteers-container .points{
    color: var(--main-font-color);
    font-weight: bold;
}